/*body, h2, h3, h4, h5, h6 {
    font-size: large;
    font-family: "Lucida Sans Typewriter";
    color: red;
}*/

h1 {
    font-family: Courier New, Courier, monospace;
    font-size: x-large;
    color: #dfff80;
    font-weight: 500;
}


.lele {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'Book Antiqua';
    font-size: xx-large;
    color: #dfff80;
}

.miniheaders {
    font-family: "Book Antiqua";
    font-size: x-large;
    color: #dfff80;
}

.letracool {
    font-family: 'Book Antiqua';
    font-size: x-large;
    color: lightgray;
}

.todolodemas {
    font-family: 'Book Antiqua';
    font-size: large;
    color: lightgray;
}

.tak {
    font-family: "Book Antiqua";
    font-style: italic;
    font-size: medium;
    color: lightgray;
}

.w3-row-padding img {
    margin-bottom: 12px
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}

.img-circle {
    border-radius: 50%;
    align-content: center;
}

.kep {
    font-family: "Book Antiqua";
    font-size: medium;
    color: #dfff80;
}

.top {
    font-family: "Book Antiqua";
    font-size: medium;
    color: lightgray;
}
